* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #1f1f1f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 550px;
  min-height: 700px;
  background: #121212;
  color: white;
}

/* Hero Section */

.hero {
  height: 180px;
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.overlay h1 {
  font-size: 3rem;
  font-weight: 700;
}

.overlay a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}

/* Empty State */

.empty-watchlist {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

.empty-watchlist h2 {
  color: #787878;
  font-size: 1.4rem;
  margin-bottom: 18px;
}

.add-movies {
  text-decoration: none;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.add-movies i {
  font-size: 1.1rem;
}

#movie-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.movie-card {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #333;
}

.movie-card img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.movie-info {
  flex: 1;
}

.details {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}
